asn1crypto==0.24.0
attrs==19.1.0
Automat==0.7.0
cffi==1.12.3
Click==7.0
constantly==15.1.0
cryptography==2.7
hyperlink==19.0.0
idna==2.8
incremental==17.5.0
numpy==1.17.0
Pillow==6.1.0
pyasn1==0.4.6
pyasn1-modules==0.2.6
pycparser==2.19
PyHamcrest==1.9.0
pyOpenSSL==19.0.0
pypiwin32==223
PyQt5==5.13.0
PyQt5-sip==4.19.18
PyQt5-stubs==5.13.0.1
pyqt5-tools==5.13.0.1.5
python-dotenv==0.10.3
pywin32==224
qt5reactor==0.5
service-identity==18.1.0
six==1.12.0
Twisted==19.7.0
wxPython==4.0.6
zope.interface==4.6.0
